*.m4
m4*
*.log
config.h.in
Makefile.in
*.o
*.Po
.dirstamp
*~
autom4te.cache/*
*.swp
config.h
config.status
missing
stamp-h1
depcomp
configure
install-sh
Makefile
*.la
*.so*
.libs
*.lo
*.Plo
ar-lib
compile
config.guess
config.sub
exadrums.pc
libtool
ltmain.sh
Api/Version.h
