Package: libexadrums0-dbgsym
Package-Type: ddeb
Source: libexadrums0
Version: 0.1.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Jeremy Oden <jerem.oden@gmail.com>
Installed-Size: 94
Depends: libexadrums0 (= 0.1.0)
Section: debug
Priority: optional
Description: debug symbols for libexadrums0
Build-Ids: 5081f349ad131e6d2847f651bcea047b6a9cacf4
