Package: libexadrums0-dbgsym
Package-Type: ddeb
Source: libexadrums0
Version: 0.2.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Jeremy Oden <jerem.oden@gmail.com>
Installed-Size: 94
Depends: libexadrums0 (= 0.2.0)
Section: debug
Priority: optional
Description: debug symbols for libexadrums0
Build-Ids: f91201f6cfc021618c5420f92be0c0850abba7bb
