#!/usr/bin/make -f

# https://manpages.debian.org/dpkg-buildflags
DEB_BUILD_MAINT_OPTIONS := hardening=+all
DPKG_EXPORT_BUILDFLAGS := 1
include /usr/share/dpkg/buildflags.mk

# The shared library package is marked as "Multi-Arch: same".
# https://manpages.debian.org/dpkg-architecture
include /usr/share/dpkg/architecture.mk
libdir := /usr/lib/$(DEB_HOST_MULTIARCH)

# Ensure that the soversion and the shared library package name in
# debian/control remain consistent.
soversion := $(shell sed -n \
  '/^Package: libexadrums\([0-9.]\+\)$$/ { s//\1/; p; q}' debian/control)
soname  := libexadrums.so.$(soversion)
dev_pkg := libexadrums-dev
lib_pkg := libexadrums$(soversion)

# https://manpages.debian.org/debhelper
%:
	dh $@

# Upstream build system has no install target, so "dh_auto_install"
# does nothing, and we spare the debian/tmp intermediate directory.
# Also, use variables here instead of hard-coded auxiliary files.
.PHONY: override_dh_install
override_dh_install:
	dh_install -p$(lib_pkg) $(soname) $(libdir)
	dh_install --remaining-packages
.PHONY: override_dh_link
override_dh_link:
	dh_link -p$(dev_pkg) $(libdir)/$(soname) $(libdir)/libexadrums.so
	dh_link --remaining-packages
